mkdocs
mkdocs-awesome-pages-plugin == 2.9.3
mkdocs-git-revision-date-localized-plugin == 1.2.9
mkdocs-localsearch
mkdocs-material == 9.5.40
mkdocs-redirects
mkdocs-static-i18n
jieba
mkdocs-with-pdf
qrcode ==8.0
WeasyPrint == 52.5
mkdocs-glightbox
