:root {
  --md-primary-fg-color:        #FE2B25;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

.md-grid {
  max-width: none;
  margin-left: 0px;
  margin-right: 0px;
}